body {
    background-color: #282a2c;
    color: white;
}

.rating-stars {
    font-size: 2em;
    cursor: pointer;
}

.star {
    color: #cccccc;
}

.star.active {
    color: #ffd700;
}

.evaluation-card {
    background-color: #343a40;
    border: none;
    margin-bottom: 20px;
}

.text-gold {
    color: #ffd700 !important;
}

/* Nuevo estilo para las etiquetas del formulario */
.form-label {
    color: #007bff !important; /* Azul de Bootstrap */
}
